
		div#header a img { opacity: .5; }
		div#header a:hover img { opacity: 1; }
		div#header h4 a { color: #fff; opacity: .5; border-left-color: #999; border-left-color: rgba(255,255,255,.25); }
		div#header h4 a:hover { color: #fff; opacity: 1; }
		div.page-header { border-color: #000; border-color: rgba(0,0,0,.5); }
		div.page-header h1 { color: #fff; }
		div.page-header h2 { color: #fff; letter-spacing: 0; }
		div#header a.button { border: 0; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5); }
	
		div#header a img, div#header h4 a { opacity: 1; text-shadow: 0 0 1px rgba(0,0,0,.01); }
		
		body { background: #fff url(../../resources/images/grass.jpg);
			   height:100%;	
			 }
		
		div.container { position: relative; 
						width: 1100px; 
						margin: 20px auto; 
						padding: 50px 50px 50px 50px; 
						background: #fff url(../../resources/images/wood-bg.jpg); 
						
						-moz-box-shadow: 0 0 5px 5px #888;
						-webkit-box-shadow: 0 0 5px 5px #888;
						box-shadow: 0 0 100px 15px #C29059;
						
						border-radius:15px;
						
						min-height: 100%; 
					  }

		.chain {
			font-size:20px;
			color: #28570A;
		}
		
		.button { border: 1px solid #777777; 
				  background: #6e9e2d; 
				  color: white; 
				  font: bold 17px 'Trebuchet MS'; 
				  padding: 4px; 
			      cursor: pointer;
			      -webkit-border-radius: 4px; 
			    }

		input[type=file],
		input[type=text],
		input[type=password] {
			border: 5px solid white;
			-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
				rgba(0, 0, 0, 0.1);
			-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
				rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px
				rgba(0, 0, 0, 0.1);
			padding: 5px;
			background: rgba(255, 255, 255, 0.5);
			margin: 0 0 10px 0;
		}

div#content a { color: #000; font-weight: normal; }
			

		ul.polaroids li { display: inline; }
		ul.polaroids a { background: #fff; display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family: "Marker Felt", sans-serif; text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
		ul.polaroids img { display: block; width: 190px; height:150px; margin-bottom: 12px; }
		ul.polaroids a:after { content: attr(title); }
		
		ul.polaroids li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
		ul.polaroids li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
		ul.polaroids li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
		ul.polaroids li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
		ul.polaroids li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }
		
		ul.polaroids li.messy a { margin-top: -375px; margin-left: 160px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); }		
		ul.polaroids li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }	

		
		.clear{
		clear: both;
		}
		.formdiv{
		width:300px;
		margin:auto;
		padding:0;
		text-align:center;

		}
		
		#register{
		width: 175px;
		height: 30px;
		padding: 5px 50px;
		
		background: #767676;
		color: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		line-height: 30px;
		margin:auto;
		}
		#register1{
		width: 175px;
		height: 30px;
		
		background: #767676;
		color: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		line-height: 30px;
		margin-bottom:2px;
		}
		a#register:hover{
		background: #650032;
	}
		button#register1:hover{
		background: #650032;
	}
		button#login{
		width: 116px;
		height: 30px;
		margin: 3px;
		padding: 0;
		background: black;
		color:white;
		font-size:14px;
		font-weight: bold;
		}
		button#login:hover{
		background: #650032;
		}
		
		.mainContainer{
		text-align:center;
		padding-top:320px;
		}
		
		#errormessage{
		text-align:center;
		font-size:17px;
		}
		.commonInputSpan{
		float:left;
		padding-left:70px;
		font-size:16px;
		font-weight:bold;
		color:white;
		}